/*  topbanner starts*/
#my-carousel-text {
    padding-bottom: 200px;
    background-repeat: no-repeat;
}

.image {
    width: 100%;
    height: 750px;
    filter: brightness(60%);
}

.flex-sm-column {
    width: 100%;
    height: 100%;
}